<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>


  <div class="g-0 row">
    <div class="col-sm-6 col-md-4 col-xl-4">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
        <div class="icon-wrapper rounded-circle">
          <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
          <i class="pe-7s-album text-white opacity-8"></i></div>
        <div class="widget-chart-content">
          <div class="widget-subheading">Cash Deposits</div>
          <div class="widget-numbers">1,7M</div>
          <div class="widget-description opacity-8 ">
            <div class="d-inline text-danger pe-1">
              <fa-icon [icon]="faAngleDown"></fa-icon>
              <span class="ps-1">54.1%</span>
            </div>
            less earnings
          </div>
        </div>
      </div>
      <div class="divider m-0 d-md-none d-sm-block"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-4">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
        <div class="icon-wrapper rounded-circle">
          <div class="icon-wrapper-bg opacity-9 bg-danger"></div>
          <i class="pe-7s-portfolio text-white"></i></div>
        <div class="widget-chart-content">
          <div class="widget-subheading">Invested Dividents</div>
          <div class="widget-numbers"><span>9M</span></div>
          <div class="widget-description opacity-8 ">
            Grow Rate:
            <span class="text-info ps-1">
              <fa-icon [icon]="faAngleDown"></fa-icon>
                <span class="ps-1">14.1%</span>
            </span>
          </div>
        </div>
      </div>
      <div class="divider m-0 d-md-none d-sm-block"></div>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
        <div class="icon-wrapper rounded-circle">
          <div class="icon-wrapper-bg opacity-9 bg-success"></div>
          <i class="pe-7s-light text-white"></i></div>
        <div class="widget-chart-content">
          <div class="widget-subheading">Capital Gains</div>
          <div class="widget-numbers text-success"><span>$563</span></div>
          <div class="widget-description ">
            Increased by
            <span class="text-warning ps-1">
              <fa-icon [icon]="faAngleUp"></fa-icon>
                <span class="ps-1">7.35%</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center d-block p-3 card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-primary btn-lg" (click)="creditoModal()">
                  <span class="me-2 opacity-7">
                      <i class="icon icon-anim-pulse ion-ios-analytics-outline"></i>
                  </span>
      <span class="me-1">Crear nuevo prestamo</span>
    </button>
 
</div>

<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize fw-normal">Company Agents Status</div>
  </div>
  <div class="table-responsive">
    <p>Registros: {{ creditos.length }}</p>
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">

    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellido</th>
            <th class="text-center">Plazo</th>
            <th class="text-center">Tasa Interés</th>
            <th class="text-center">Cuota</th>
            <th class="text-center">Valor</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let credito of creditos; let i = index">
          

            <td class="text-center text-muted">
                {{ i + 1 }}
            </td>

            <td class="text-center">
                {{ credito.nombres }}
            </td>

            <td class="text-center">
                {{ credito.apellidos }}
            </td>

            <td class="text-center">
                {{ credito.plazo }}
            </td>

            <td class="text-center">
                {{ credito.tasaInteres }} %
            </td>

            <td class="text-center">
                {{ credito.cuota | currency:'COP':'symbol':'1.0-0' }}
            </td>

            <td class="text-center">
                {{ credito.valorCredito | currency:'COP':'symbol':'1.0-0' }}
            </td>

            <td class="text-center">
                <div class="btn-group btn-group-sm">

                    <button
                        class="btn btn-primary"
                        (click)="editarCredito(credito)">
                        Editar
                    </button>

                    <button
                        class="btn btn-danger"
                        (click)="eliminarCredito(credito.id)">
                        Eliminar
                    </button>
                    <button
                        class="btn btn-secondary"
                        (click)="verCredito(credito)">
                        ver
                    </button>

                </div>
            </td>

        </tr>

        <tr *ngIf="creditos.length === 0">
            <td colspan="8" class="text-center py-4">
                No hay créditos registrados.
            </td>
        </tr>

    </tbody>

    </table>
</div>
   

<app-modals *ngIf="showModals" (cerrar)="cerrarModal()" (guardarCredito)="guardarCredito($event)" [isCreation]="isCreation" [isView]="isView" [credito]="selectedCredito"></app-modals>
